.posts {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  box-sizing: border-box;
}

.posts__head {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.posts__add {
  padding: 5px;
  border: 1px solid black;
  box-sizing: border-box;

  text-decoration: none;

  color: black;
  background: lightgray;
}

.posts__title {
  font-size: 32px;
  font-weight: bold;
}

.posts__head-button {
  display: flex;
}

.posts__list {
}

.posts__item {
  position: relative;

  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.posts__item-date {
  margin-bottom: 10px;

  font-size: 12px;
}

.posts__item-actions{
  position: absolute;
  right: -1px;
  top: -1px;

  display: flex;
  gap: 5px;
}

.posts__item-button {

}

.posts__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.posts__form-textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 5px;
}

.posts__form-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.posts__button-link {
  padding: 2px;
  border: 1px solid black;
  box-sizing: border-box;

  text-decoration: none;

  color: black;
  background: lightgray;
}
